<?xml version="1.0" encoding="UTF-8"?>
<!--https://mybatis.org/dtd/mybatis-3-mapper.dtd가 다운로드되지 않으면 <a> 태그로 다운해서 
	로컬로 등록한다. -->
 <!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "file:///C:/schema/mybatis-3-mapper.dtd">
<!--네임스페이스의 충돌을 방지하기 위해 설정 -->
<mapper namespace="jin.spring.board">
	<!-- 게시글 작성 -->
	<insert id="insert" parameterType="BoardDTO">
		INSERT INTO board (bnum,
		btitle, bcontent, bwriter)
		VALUES (BOARD_SEQ.NEXTVAL, #{btitle},
		#{bcontent}, #{bwriter})
	</insert>

	<!-- 게시글 목록 조회-페이징 처리-->
	<select id="listPage" resultType="BoardDTO"	parameterType="jin.spring.board.dto.Criteria">
		select bnum, btitle, bcontent, bwriter, bdate
		from (select bnum, 
					btitle, 
					bcontent, 
					bwriter, 
					bdate,
					row_number() over(order by bnum desc) as rNum
				from board
						) MP
		where rNum between #{rowStart} and #{rowEnd}
		order by bnum desc
	</select>
	
	<!-- 게시글 총 개수 -->
	<select id="listCount" resultType="int">
	<![CDATA[
		SELECT COUNT(bnum)
		  FROM BOARD
		 WHERE bnum > 0
	]]>
	</select>

	<!-- 게시글 상세 조회 -->
	<select id="select" parameterType="int" resultType="BoardDTO">
		SELECT bnum,
		btitle, bcontent, bwriter, bdate FROM board
		where bnum = #{bnum}
	</select>

	<!-- 게시글 수정 -->
	<update id="update" parameterType="BoardDTO">
		update board
		set btitle =
		#{btitle}, bcontent = #{bcontent}
		where bnum = #{bnum}
	</update>

	<!-- 게시글 삭제 -->
	<delete id="delete" parameterType="int">
		delete from board where bnum =
		#{bnum}
	</delete>
</mapper>
